#newCategory.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content.animated.bounceInRight
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4.modal-title Danh Mục Thuồc Mới
      .modal-body
        #new-medicine-message
        = form_for @category, url: medicine_categories_path ,html: {class: 'm-t form-horizontal', id: 'category-form', method: 'post'} do |f|
          .form-group
            %label.col-lg-2.control-label Tên
            .col-lg-10= f.text_field :name, class: 'form-control', :required => true
      .modal-footer
        %button.btn.btn-white{"data-dismiss" => "modal", :type => "button"} Hủy
        %button#create-medicine-category.btn.btn-primary{:type => "button"} Tạo
