.content
  .page-title
    %i.icon-custom-left
    %h3 Danh Sách Thuốc
  .row-fluid
    .span12
      .grid.simple
        .grid-title
          %div
            %button.btn.btn-primary{"data-target" => "#newMedicine", "data-toggle" => "modal", :style => "margin-bottom:15px", :type => "button"}
              Tạo Thuốc
            %button.btn.btn-primary{"data-target" => "#newCategory", "data-toggle" => "modal", :style => "margin-bottom:15px", :type => "button"}
              Tạo Danh Mục Thuốc
            %button.btn.btn-primary{"data-target" => "#newSpecification", "data-toggle" => "modal", :style => "margin-bottom:15px", :type => "button"}
              Tạo Qui Cách
            %button.btn.btn-primary{"data-target" => "#newCapacityType", "data-toggle" => "modal", :style => "margin-bottom:15px", :type => "button"}
              Tạo Loại Qui Cách
            %button#delete-skus-btn.btn.btn-primary{:style => "margin-bottom:15px", :type => "button"}
              Xóa
        .grid-body
          %table#medicines-list.table.table-hover.table-condensed{"data-target" => medicines_path}
  .custom-modal
  = render 'new_medicine'
  = render 'new_category'
  = render 'new_specification'
  = render 'new_capacity_type'