.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Danh Sach
  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-12
        %div
        #alert-message
        %table#imports-list.table.table-striped.table-bordered.table-hover{"data-target" => imports_path}
  #custom-modal
    / Place at bottom of page
