.content
  .page-title
    %i.icon-custom-left
    %h3 Danh Sách Khách Hàng
  .row-fluid
    .span12
      .grid.simple
        .grid-title
          %div
          %button.btn.btn-primary{"data-target" => "#newCustomer", "data-toggle" => "modal", :style => "margin-bottom:15px", :type => "button"}
            Thêm khách hàng
        .grid-body
          %table#customers-list.table.table-hover.table-condensed{"data-target" => customers_path}
  #custom-modal
  = render 'new_customer'