.content
  .page-title
    %i.icon-custom-left
    %h3 Danh Sách Thức Ăn
  .row-fluid
    .span12
      .grid.simple
        .grid-title
          %div
          %button.btn.btn-primary{"data-target" => "#newFood", "data-toggle" => "modal", :style => "margin-bottom:15px", :type => "button"}
            Tạo thức ăn
          %button.btn.btn-primary{"data-target" => "#newCategory", "data-toggle" => "modal", :style => "margin-bottom:15px", :type => "button"}
            Tạo Danh Mục Thức ăn
          %button.btn.btn-primary{"data-target" => "#newSpecification", "data-toggle" => "modal", :style => "margin-bottom:15px", :type => "button"}
            Tạo Qui cách
          %button.btn.btn-primary{"data-target" => "#newCapacityType", "data-toggle" => "modal", :style => "margin-bottom:15px", :type => "button"}
            Tạo Loại Qui Cách
          %button#delete-skus-btn.btn.btn-primary{:style => "margin-bottom:15px", :type => "button"}
            Xóa
        .grid-body
          %table#foods-list.table.table-hover.table-condensed{"data-target" => foods_path}
  .custom-modal
  = render 'new_food'
  = render 'new_category'
  = render 'new_specification'
  = render 'medicines/new_capacity_type'