<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medicine_specification_type.name %>
</p>

<%= link_to 'Edit', edit_medicine_specification_type_path(@medicine_specification_type) %> |
<%= link_to 'Back', medicine_specification_types_path %>
