.content
  .page-title
    %i.icon-custom-left
    %h3 Danh Sách Sản Phẩm
  .row-fluid
    .span12
      .grid.simple
        .grid-title
          %div
            %button.btn.btn-primary{"data-target" => "#newProduct", "data-toggle" => "modal", :style => "margin-bottom:15px", :type => "button"}
              Tạo Sản Phẩm
            %button.btn.btn-primary{"data-target" => "#newCategory", "data-toggle" => "modal", :style => "margin-bottom:15px", :type => "button"}
              Tạo Danh Mục
            %button.btn.btn-primary{"data-target" => "#newSpecification", "data-toggle" => "modal", :style => "margin-bottom:15px", :type => "button"}
              Tạo Qui Cách

            %button#delete-skus-btn.btn.btn-primary{:style => "margin-bottom:15px", :type => "button"}
              Xóa
          / %div
          /   %form.form-inline
          /     %input.form-control{type: "text", placeholder: "tìm kiếm..."}
        .grid-body
          %table#products-list.table.table-hover.table-condensed{"data-target" => products_path}
  .custom-modal
  = render 'new_product'
  = render 'new_category'
  = render 'new_specification'
  = render 'new_capacity_type'