.content
  .page-title
    %i.icon-custom-left
    %h3 Danh Sách
  .row-fluid
    .span12
      .grid.simple
        .grid-title
          %div
            %form.form-inline#filter-form
              .form-group
                %input.form-control#date-from{type: 'text', placeholder: 'Từ ngày', :readonly=>true}
              .form-group
                %input.form-control#date-to{type: 'text', placeholder: 'Đến ngày', :readonly=>true}
              .form-group
                %button.btn.btn-primary.form-control#filter-btn{type: 'button'}
                  Lọc
              .form-group
                %button.btn.btn-primary.form-control#clear-filter-btn{type: 'button'}
                  Xóa
        .grid-body
          %table#sales-list.table.table-hover.table-condensed{"data-target" => sales_path}
  #custom-modal
    / Place at bottom of page
