.content
  .page-title
    %i.icon-custom-left
    %h3 Danh Sách
  .row-fluid
    .span12
      .grid.simple
        .grid-body
          %table#sales-list.table.table-hover.table-condensed{"data-target" => sales_path}
  #custom-modal
    / Place at bottom of page
