<li class="">
    <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Thuốc</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li class="active"><a href="index.html">All</a></li>
      <li ><a href="dashboard_2.html">Dashboard v.2</a></li>
      <li ><a href="dashboard_3.html">Dashboard v.3</a></li>
      <li ><a href="dashboard_4_1.html">Dashboard v.4</a></li>
    </ul>
</li>

<li class="">
    <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Thức Ăn</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li class="active"><a href="index.html">All</a></li>
      <li ><a href="dashboard_2.html">Dashboard v.2</a></li>
      <li ><a href="dashboard_3.html">Dashboard v.3</a></li>
      <li ><a href="dashboard_4_1.html">Dashboard v.4</a></li>
    </ul>
</li>

<li>
  <a href="<%=customers_path%>"><i class="fa fa-flask"></i> <span class="nav-label">Nhập</span> </a>
</li>
<li>
  <a href="<%=customers_path%>"><i class="fa fa-flask"></i> <span class="nav-label">Xuất</span> </a>
</li>

<li class="">
    <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Thống Kê</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li class="active"><a href="index.html">All</a></li>
      <li ><a href="dashboard_2.html">Dashboard v.2</a></li>
      <li ><a href="dashboard_3.html">Dashboard v.3</a></li>
      <li ><a href="dashboard_4_1.html">Dashboard v.4</a></li>
    </ul>
</li>