%p.menu-title
  BROWSE
  %span.pull-right
    %a{:href => "javascript:;"}
      %i.fa.fa-refresh
%ul
  %li
    %a{:href => "javascript:;"}
      %i.fa.fa.fa-adjust
      %span.title Sản Phẩm
      %span.arrow
    %ul.sub-menu
      %li
        %a{:href => products_path} Danh Sách
      %li
        %a{:href => "dashboard_2.html"} Dashboard v.2
      %li
        %a{:href => "dashboard_3.html"} Dashboard v.3
      %li
        %a{:href => "dashboard_4_1.html"} Dashboard v.4
  %li
    %a{:href => "javascript:;"}
      %i.fa.fa.fa-adjust
      %span.title Nhập
      %span.arrow
    %ul.sub-menu
      %li
        %a{:href => imports_path} Danh Sách
      %li
        %a{:href => new_import_path} Nhập Hàng
  %li
    %a{:href => "javascript:;"}
      %i.fa.fa.fa-adjust
      %span.title Xuất
      %span.arrow
    %ul.sub-menu
      %li
        %a{:href => sales_path} Danh Sách
      %li
        %a{:href => new_sale_path} Xuất Hàng
  %li
    %a{:href => "javascript:;"}
      %i.fa.fa.fa-adjust
      %span.title Khách Hàng
      %span.arrow
    %ul.sub-menu
      %li
        %a{:href => customers_path} Danh Sách
  / %li
  /   %a{:href => "javascript:;"}
  /     %i.fa.fa.fa-adjust
  /     %span.title Thống Kê
  /     %span.arrow
  /   %ul.sub-menu
  /     %li
  /       %a{:href => "index.html"} Danh Sách
  /     %li
  /       %a{:href => "dashboard_2.html"} Dashboard v.2
  /     %li
  /       %a{:href => "dashboard_3.html"} Dashboard v.3
  /     %li
  /       %a{:href => "dashboard_4_1.html"} Dashboard v.4
.clearfix