%li
  %a{:href => "#"}
    %i.fa.fa-medkit
    %span.nav-label Thuốc
    %span.fa.arrow
  %ul.nav.nav-second-level
    %li
      %a{:href => medicines_path} All
    %li
      %a{:href => "dashboard_2.html"} Dashboard v.2
    %li
      %a{:href => "dashboard_3.html"} Dashboard v.3
    %li
      %a{:href => "dashboard_4_1.html"} Dashboard v.4
%li
  %a{:href => "#"}
    %i.fa.fa-th-large
    %span.nav-label Thức Ăn
    %span.fa.arrow
  %ul.nav.nav-second-level
    %li
      %a{:href => foods_path} All
    %li
      %a{:href => "dashboard_2.html"} Dashboard v.2
    %li
      %a{:href => "dashboard_3.html"} Dashboard v.3
    %li
      %a{:href => "dashboard_4_1.html"} Dashboard v.4
%li
  %a{:href => "#"}
    %i.fa.fa-th-large
    %span.nav-label Nhập
    %span.fa.arrow
  %ul.nav.nav-second-level
    %li
      %a{:href => imports_path} All
    %li
      %a{:href => new_import_path} Nhap Hang
%li
  %a{:href => "#"}
    %i.fa.fa-th-large
    %span.nav-label Xuất
    %span.fa.arrow
  %ul.nav.nav-second-level
    %li
      %a{:href => sales_path} All
    %li
      %a{:href => new_sale_path} Them HD
%li
  %a{:href => "index.html"}
    %i.fa.fa-th-large
    %span.nav-label Thống Kê
    %span.fa.arrow
  %ul.nav.nav-second-level
    %li
      %a{:href => "index.html"} All
    %li
      %a{:href => "dashboard_2.html"} Dashboard v.2
    %li
      %a{:href => "dashboard_3.html"} Dashboard v.3
    %li
      %a{:href => "dashboard_4_1.html"} Dashboard v.4
