#main-menu.page-sidebar
  / BEGIN MINI-PROFILE
  #main-menu-wrapper.page-sidebar-wrapper.scrollbar-dynamic
    .user-info-wrapper
      .profile-wrapper
        / %img{:alt => "", "data-src" => "assets/profiles/avatar.jpg", "data-src-retina" => "assets/profiles/avatar2x.jpg", :height => "69", :src => "assets/profiles/avatar.jpg", :width => "69"}/
      .user-info
        .greeting Welcome
        .username
          John
          %span.semi-bold Smith
    / END MINI-PROFILE
    / BEGIN SIDEBAR MENU
    =render 'layouts/admin_nav'
    / END SIDEBAR MENU
%a.scrollup{:href => "#"} Scroll
.footer-widget
  .progress.transparent.progress-small.no-radius.no-margin
    .progress-bar.animate-progress-bar.progress-bar-success{"data-percentage" => "79%"}
  .pull-right
    .details-status
      %span.animate-number{"data-animation-duration" => "560", "data-value" => "86"}>
      \%
    %a{:href => "lockscreen.html"}
      %i.fa.fa-power-off