<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
      </div>
      <div class="navbar-logo col-sm-6">
        <!-- <img alt="image" src="<%#= image_url 'moto-logo.png' %>" style ="margin-top: 15px; margin-left:17px"/> -->
      </div>

      <ul class="nav navbar-top-links navbar-right">
          <li>
              <%#= link_to  logout_path(1), method: :delete do%>
                <i class="fa fa-sign-out"></i> Log out
              <%#end%>
          </a>
      </li>
    </ul>
  </nav>
</div>
